{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <style>
        img {
            border: 1px solid #ddd;
            /* Gray border */
            border-radius: 4px;
            /* Rounded border */
            padding: 5px;
            /* Some padding */
            width: 33%;
            /* Set a small width */
        }

        /* Add a hover effect (blue shadow) */
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>





    <a class="pad" target="_blank" href="https://www.adidas.cl/">
        <img class="bg-image img1">
    </a>

    <a class="pad" target="_blank" href="https://www.gucci.com//">
        <img class="bg-image img2">
    </a>

    <a class="pad" target="_blank" href="https://cl.puma.com/">
        <img class="bg-image img3">
    </a>
    <a class="pad" target="_blank" href="https://www.burberry.com/">
        <img class="bg-image img4">
    </a>
    <a class="pad" target="_blank" href="https://www.chanel.com/">
        <img class="bg-image img5">
    </a>
    <a class="pad" target="_blank" href="https://global.lacoste.com/">
        <img class="bg-image img6">
    </a>
    <div class="jumbotron text-center " style="margin-bottom:0">
        <p>Green Apple© 2020|Contactanos GreenAppleStore@gmail.com/+56978489231 Chile LTDA</p>
    </div>


{%endblock%}
